.sitelink
{
  text-decoration: none; 
  font-family: arial,verana, san-serif; 
  font-size: 11px; 
  padding-right: 20px; 
  color: #676767;
  cursor:pointer;
  
}
.sitelink:hover
{
  text-decoration: none; 
  font-family: arial,verana, san-serif; 
  font-size: 11px; 
  padding-right: 20px; 
  color: #111;
  cursor:pointer;
}
