{% extends 'web/base_visitor.html' %}
{% load bootstrap4 %}
{% block title %}Register{% endblock %}
{% block registeractive %}active{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card" style="margin-top: 1em">
                <div class="card-body">
                    <h3>Register</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    Already have an account? <a href="{% url 'web:login' %}">Click here</a> to login!
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}