{% extends 'web/base.html' %}
{% block menu %}
    <ul class="navbar-nav">
        <li class="nav-item {% block homeactive %}{% endblock %}">
            <a class="nav-link" href="{% url 'web:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block dashboardactive %}{% endblock %}" href="{% url 'web:dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% block addcourseactive %}{% endblock %}" href="{% url 'web:add_course' %}"><i class="fa fa-plus"></i>&nbsp; Add course</a>
        </li>
    </ul>
    <ul class="nav-pills navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'web:logout' %}"><i class="fa fa-power-off"></i>&nbsp; Log Out</a>
        </li>
    </ul>
{% endblock %}