{% extends 'web/base.html' %}
{% block menu %}
<ul class="navbar-nav">
  <li class="nav-item {% block homeactive %}{% endblock %}">
    <a class="nav-link" href="{% url 'web:index' %}">Home</a>
  </li>
</ul>
<ul class="nav-pills navbar-nav mr-auto"></ul>
<ul class="navbar-nav">
  <li class="nav-item {% block loginactive %}{% endblock %}">
      <a class="nav-link" href="{% url 'web:login' %}"><i class="fa fa-power-off"></i>&nbsp; Log In</a>
  </li>
  <li class="nav-item {% block registeractive %}{% endblock %}">
      <a class="nav-link" href="{% url 'web:register' %}"><i class="fa fa-user"></i>&nbsp; Register</a>
  </li>
</ul>
{% endblock %}