{% extends 'web/base_student.html' %}
{% block title %}Course details{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <div class="container-fluid card" style="margin-top: 1em">
                    <img class="card-img-top img-fluid" src="{{ course.thumbnail.url }}" style="margin-top: 1em;">
                    <h3 class="card-title" style="margin-top: 1em">{{ course.name }}</h3>
                    <div class="card-body">
                        <h5><strong>Description</strong></h5>
                        <p>{{ course.description }}</p>
                        <br>
                        <br>
                        <a class="btn btn-primary" href="{{ url }}">Test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}