{% extends 'web/base_guide.html' %}
{% block title %}Dashboard{% endblock %}
{% block dashboardactive %}active{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6" style="margin-top: 1.0em">
                <h3 style="color: #007bff;">Dashboard</h3>
                <div class="container-fluid" style="margin-top: 0.5em">
                    <div class="row">
                        {% if courses %}
                            {% for course in courses %}
                                <div class="card col-3" style="width:30%; padding: 0.5em; margin: 0.5em">
                                    <a href="#">
                                        <img src="{{ course.thumbnail.url }}" class="card-img-top img-fluid" style="padding: 0.5em">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ course.name }}
                                        </h5>
                                        <p class="card-text">
                                            {{ course.description }}
                                        </p>
                                        <a class="btn btn-primary" href="{% url 'web:view_course' course.id %}">Details</a>
                                        <a class="btn btn-primary marks" id="{{ course.id }}" href="#">Marks</a>
                                    </div>
                                </div>
                                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6" style="margin-top: 1.5em">
                <iframe id="frame" width="100%" src="#" style="border: ActiveBorder" height="100%"></iframe>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
           $('body').on('click', '.marks', function () {
               var course_id = $(this).attr('id');
               var iframe = document.getElementById('frame');
               iframe.src = location.protocol + '//' + location.host + location.pathname + course_id;
           })
        });
    </script>
{% endblock %}