{% extends 'web/base_guide.html' %}
{% block title %}Home{% endblock %}
{% block homeactive %}active{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 1em">
            <h3 style="color: #007bff;">My courses</h3>
        </div>
        <div class="container-fluid" style="margin-top: 0.5em">
            <div class="row">
                {% if courses %}
                    {% for course in courses %}
                        <div class="card col-2" style="width:30%; padding: 0.5em; margin: 0.5em">
                            <a href="#">
                                <img src="{{ course.thumbnail.url }}" class="card-img-top img-fluid" style="padding: 0.5em">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ course.name }}
                                </h5>
                                <p class="card-text">
                                    {{ course.description }}
                                </p>
                                <a class="btn btn-primary" href="{% url 'web:view_course' course.id %}">Details</a>
                            </div>
                        </div>
                        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}