{% extends 'web/base_visitor.html' %}
{% block title %}NITKLearn{% endblock %}
{% block homeactive %}active{% endblock %}
{% load staticfiles %}
{% block body %}
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">NITKLearn</h1>
          <h2 class="masthead-subheading mb-0">World's #1 e-learning website</h2>
          <a href="#why" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'images/img_01.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4" id="why">Interactive learning</h2>
              <p>Kids will love it! The assignment are taught in a way that all the exercises are easy to complete and
               will form a complete learning package.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'images/img_02.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">Active teacher monitoring</h2>
              <p>There are actual teachers monitoring the performance of your kids, instead of computers. So all the reports are hand made and sent to you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="{% static 'images/img_03.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">More features coming soon!</h2>
              <p>We are constantly working on the platform to deliver our customers a more immersive experience!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center small">Copyright &copy; Amith Kini & Akshay Upadhya & Swastik Udupa & Pavan P, 2018</p>
      </div>
      <!-- /.container -->
    </footer>

{% endblock %}