<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
</head>
<body>

<h3>{{ course.name }}</h3>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Marks</th>
        <th>Happy</th>
        <th>Neutral</th>
    </tr>
    </thead>
    <tbody>
    {% for m in marks %}
        <tr>
            <td>{{ m.student.user.first_name }}</td>
            <td>{{ m.marks }}</td>
            <td>{{ m.happy }}</td>
            <td>{{ m.neutral }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>