{% extends 'web/base_student.html' %}
{% block title %}Math game{% endblock %}
{% load staticfiles %}
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <style type="text/css">
        img {
            border: none;
        }

        .mathe_game_bg {
            margin: 0 auto;
            background: url({% static 'images/math_game_bg.png' %}) no-repeat;
            width: 700px;
            height: 400px;
        }

        .mathe_game_head {
            margin: 105px auto 0;
        }

        .display {
            background: none;
            border: none;
            font: bold 45px Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .mathe_game_foot {
            margin: 73px auto 0;
        }

        .plus_button {
            background: url({% static 'images/plus.png' %}) no-repeat;
            width: 74px;
            height: 35px;
            border: none;
        }

        .minus_button {
            background: url({% static 'images/minus.png' %}) no-repeat;
            width: 74px;
            height: 35px;
            border: none;
        }

        .multiply_button {
            background: url({% static 'images/multiply.png' %}) no-repeat;
            width: 74px;
            height: 35px;
            border: none;
        }

        .divide_button {
            background: url({% static 'images/divide.png' %}) no-repeat;
            width: 74px;
            height: 35px;
            border: none;
        }

        .math_txt {
            width: 80px;
            height: 30px;
            background: none;
            border: none;
            text-align: center;
            font: bold 14px Arial, Helvetica, sans-serif;
        }
    </style>

    <script type="text/javascript">
        shuffle = function (o) {
            for (var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x) ;
            return o;
        };

        var arr = new Array();
        var arr1 = new Array("5 ? 2 = 10#779", "56 ? 34 = 22#275", "9 ? 1 = 10#133", "92 ? 2 = 46#384", "5 ? 2 = 3#275", "4 ? 6 = 10#133",
            "10 ? 2 = 5#384", "7 ? 5 = 12#133", "45 ? 2 = 90#779", "6 ? 3 = 2#384", "6 ? 6 = 36#779", "54 ? 12 = 42#275",
            "63 ? 9 = 7#384", "24 ? 6 = 144#779", "34 ? 11 = 23#275", "121 ? 11 = 11#384", "67 ? 21 = 46#275", "13 ? 47 = 60#133",
            "56 ? 7 = 8#384", "97 ? 42 = 55#275", "77 ? 1 = 77#779", "27 ? 3 = 9#384", "63 ? 2 = 126#779", "78 ? 45 = 33#275", "45 ? 9 = 5#384");

        var arr2 = new Array("41 ? 12 = 29#275", "91 ? 57 = 148#133", "6 ? 4 = 2#275", "7 ? 3 = 21#779", "4 ? 13 = 52#779", "15 ? 3 = 5#384",
            "3 ? 12 =36#779", "65 ? 5 = 13#384", "51 ? 27 =78#133", "62 ? 18 =80#133", "7 ? 5 = 35#779", "21 ? 17 = 4#275",
            "37 ? 15 = 52#133", "16 ? 3 = 48#779", "1 ? 2 = 2#779", "3 ? 1 =2#275", "81 ? 6 = 75#275", "7 ? 28 = 35#133",
            "23 ? 19 = 42#133", "51 ? 20 =31#275", "63 ? 27 = 90#133", "62 ? 2 =31#384", "66 ? 3 = 22#384", "37 ? 51 =88#133", "77 ? 11 = 7#384");

        var arr3 = new Array("16 ? 4 = 4#384", "47 ? 32 = 15#275", "23 ? 3 = 69#779", "71 ? 23 = 94#133", "67 ? 29 = 96#133", "51 ? 3 = 153#779", "7 ? 14 = 98#779",
            "57 ? 13 = 44#275", "85 ? 13 = 72#275", "51 ? 3 =17#384", "53 ? 25 =78#133", "17 ? 2 = 34#779", "29 ? 7 = 22#275", "22 ? 15 = 37#133",
            "13 ? 6 = 78#779", "1 ? 2 = 3#133", "13 ? 7 =6#275", "81 ? 6 = 75#275", "32 ? 2 = 16#384", "26 ? 43 = 67#133", "87 ? 21 = 108#133",
            "49 ? 7 = 7#384", "69 ? 12 = 81#133", "3 ? 43 = 129#779", "66 ? 6 = 11#384");

        var arr4 = new Array("42 ? 2 =21#384", "17 ? 7 = 24#275", "19 ? 3 = 57#779", "27 ? 4 = 31#133", "5 ? 5 = 25#779", "41 ? 15 =26#275", "29 ? 6 = 35#133",
            "43 ? 17 = 26#275", "7 ? 6 = 42#779", "86 ? 2 = 43#384", "35 ? 14 = 49#133", "71 ? 14 = 57#275", "64 ? 4 = 16#384", "15 ? 5 = 75#779",
            "90 ? 10 = 9#384", "48 ? 6 = 8#384", "31 ? 27 = 58#133", "28 ? 4 = 7#384", "6 ? 7 = 42#779", "54 ? 9 = 6#384", "67 ? 23 = 44#275",
            "77 ? 12 = 65#275", "9 ? 3 = 27#779", "36 ? 4 = 9#384", "8 ? 8 = 64#779");

        var arr5 = new Array("32 ? 1 = 33#133", "7 ? 5 = 35#779", "11 ? 2 = 9#275", "6 ? 17 = 23#133", "9 ? 3 = 3#384", "83 ? 17 = 66#275", "53 ? 12 = 65#133",
            "37 ? 2 =74#779", "3 ? 4 = 12#779", "63 ? 3 = 21#384", "108 ? 3 = 36#384", "39 ? 23 = 16#275", "19 ? 7 = 26#133", "74 ? 2 = 148#779",
            "53 ? 79 = 132#133", "6 ? 9 = 54#779", "97 ? 16 = 81#275", "87 ? 43 = 130#133", "31 ? 69 = 100#133", "52 ? 19 = 33#275", "68 ? 4 = 17#384",
            "39 ? 7 = 46#133", "4 ? 4 = 16#779", "42 ? 7 = 6#384", "44 ? 15 = 59#133");
        var anscorrect = 0;
        var answrong = 0;
        var noq = 25;
        var pos = 0;
        var ques, ans, moves;
        var count = 0;
        var timee = 100;
        //var ref=Math.floor(Math.random()*5);
        var ref = 0;
        var suff = shuffle(arr);
        var finished = 0;
        var firstmove = 0;
        var level = 1;
        Array.prototype.inArray = function (value) {
            var i;
            for (i = 0; i < this.length; i++) {
                if (this[i] === value) {
                    return true;
                }
            }
            return false;
        };

        function next() {
            count = anscorrect + answrong;
            if (eval(document.getElementById('tim').value) !== 0) {
                start();
            }
        }

        function click_op(sss) {
            if (firstmove > 0 && finished == 0) {
                var chk = parseInt(sss);
                var calc = ques.split('');
                var ope1 = calc[0];
                var ope2 = calc[2];
                if (ans == chk) {
                    anscorrect = anscorrect + 1;
                    document.getElementById('right').value = anscorrect;
                    next();
                }
                else {
                    answrong = answrong + 1;
                    document.getElementById('wrong').value = answrong;
                    next();
                }
            }
        }

        function refresh() {
            document.location.reload();
            document.getElementById('tim').value = '';
            document.getElementById('right').value = 0;
            document.getElementById('wrong').value = 0;
        }

        function start_play() {
            if (firstmove === 0) {
                timedCount();
                firstmove++;
            }
        }

        var t;

        function timedCount() {
            if (t) clearTimeout(t);
            if (eval(document.getElementById('tim').value) !== 0) {
                document.getElementById('tim').value = timee;
                timee = timee - 1;
                t = setTimeout("timedCount()", 1000);
            }
            else if (eval(document.getElementById('tim').value) === 0) {
                //alert("df")
                finished = 1;
                document.getElementById('tim').value = '';
                moves = document.getElementById('right').value;
                negative = document.getElementById('wrong').value;
                //alert(moves+"=="+negative)
                var marks = moves * 2 - negative;
                if ((moves > negative && moves !== 0)) {
                    //Make the AJAX call here!
                    document.getElementById("msg").innerHTML = "You have won it....!";
                    timee = 120;
                    //sAjaxa(moves,timee,'reverse','');
                }
                else {
                    document.getElementById("msg").innerHTML = "You have lost it....!";
                }
                $.post({% url 'web:mathgame' %},{
                        marks: marks
                    },function (data, status) {
                        alert(data);
                        window.location = {% url 'web:home' %};
                });
            }
        }


    </script>
    <link href="{% static 'css/getgamecode.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div class="mathe_game_bg">
    <table cellspacing="0" cellpadding="0" border="0" style="margin-top: 2em">
        <tbody>
        <tr>
            <td width="195" align="right"><img src="{% static 'images/refresh.png' %}"
                                               style="margin-top:160px;cursor:pointer;" onclick="refresh()"></td>
            <td>
                <table class="mathe_game_head" width="310" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td colspan="4" id="show" class="display" height="55">121 ? 11 = 11</td>
                    </tr>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                    <tr>
                        <td><input id="plus" onclick="click_op(133)" value="" class="plus_button"
                                   data-_extension-text-contrast="fg" type="submit"></td>
                        <td><input id="minus" onclick="click_op(275)" value="" class="minus_button"
                                   data-_extension-text-contrast="fg" type="submit"></td>
                        <td><input id="mul" onclick="click_op(779)" value="" class="multiply_button"
                                   data-_extension-text-contrast="fg" type="submit"></td>
                        <td><input id="div" onclick="click_op(384)" value="" class="divide_button"
                                   data-_extension-text-contrast="fg" type="submit"></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <table class="mathe_game_foot" width="310" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td width="87"><input id="right" readonly="readonly" class="math_txt"
                                              data-_extension-text-contrast="fg" type="text"></td>
                        <td width="25">&nbsp;</td>
                        <td width="90"><input id="wrong" readonly="readonly" class="math_txt"
                                              data-_extension-text-contrast="fg" type="text"></td>
                        <td width="15">&nbsp;</td>
                        <td><input class="math_txt" id="tim" readonly="readonly" data-_extension-text-contrast="fg"
                                   type="text"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td><img src="{% static 'images/play.png' %}" style="margin-top:160px;cursor:pointer;" onclick="start_play()"></td>
        </tr>
        <tr>
            <td id="msg" align="center"></td>
        </tr>
        </tbody>
    </table>

</div>
<script>

    function start() {
        if (ref === 0) {
            arr = shuffle(arr1);
            pos = Math.floor(Math.random() * arr1.length);
        }
        if (ref === 1) {
            arr = shuffle(arr2);
            pos = Math.floor(Math.random() * arr2.length);
        }
        if (ref === 2) {
            arr = shuffle(arr3);
            pos = Math.floor(Math.random() * arr3.length);
        }
        if (ref === 3) {
            arr = shuffle(arr4);
            pos = Math.floor(Math.random() * arr4.length);
        }
        if (ref === 4) {
            arr = shuffle(arr5);
            pos = Math.floor(Math.random() * arr5.length);
        }
        var fg = arr[pos];

        var gg = fg.split("#");
        ques = gg[0];
        ans = gg[1];
        var disp = document.getElementById('show');
        disp.innerHTML = gg[0];
    }
    start();
</script>
{% endblock %}
