{% extends 'web/base_student.html' %}
{% block title %}Home{% endblock %}
{% block homeactive %}active{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 style="margin-top: 0.5em; color: #007bff;">All courses</h3>
            </div>
{#            <div class="container-fluid">#}
                {% if courses %}
                    {% for course in courses %}
                        <div class="col-sm-4 col-lg-2">
                            <div class="card">
                                <a href="#">
                                    <img src="{{ course.thumbnail.url }}" class="card-img-top img-fluid" style="padding: 0.5em">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ course.name }}
                                    </h5>
                                    <p class="card-text">
                                        {{ course.description }}
                                    </p>
                                    <a class="btn btn-primary" href="{% url 'web:view_course' course.id %}">Details</a>
                                </div>
                            </div>
                        </div>
                        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                    {% endfor %}
                {% endif %}
{#            </div>#}
        </div>
    </div>

{% endblock %}