{% extends 'web/base_student.html' %}
{% load staticfiles %}
    {% load bootstrap4 %}
		{% block title %}Shapes Game{% endblock %}
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
              * {
                  box-sizing: border-box;
              }

              /* Create two equal columns that floats next to each other */
              .row {
                  {#float: left;#}
                  .center-block
                  width: 20%;
                  padding-left: 100px;
              }

              /* Clear floats after the columns */
              .row:after {
                  content: "";
                  display: table;
                  clear: both;
              }
              #div_squ, #div_tri, #div_circ, #drop_tri, #div_dia, #drop_squ, #drop_cir, #drop_dia {
                  float: left;
                  width: 102px;
                  height: 102px;
                  clear:both;
                  border: 0px ;
              }
              #drop_tri, #drop_cir, #drop_dia, #drop_squ{
                border: 1px solid black;

              }
              p{
                clear: both;
              }
            </style>
            <script>
              var allow_drag = true;
              function allowDrop(ev) {
                  ev.preventDefault();
              }

              function drag(ev) {
                  ev.dataTransfer.setData("text", ev.target.id);
              }

              function drop(ev) {
                  ev.preventDefault();
                  var data = ev.dataTransfer.getData("text");
                  // if (ev.target.childNodes.length == 1 ) { // Or just `if (element.childNodes.length)`
                // It has at least one
                    var children = ev.target.childNodes.length;
                    var target_id = ev.target.id;
                    var drop_start = target_id.startsWith("drop");
                    var div_start = target_id.startsWith("div");
                    if (drop_start === true && children == 1)
                      ev.target.appendChild(document.getElementById(data));
                    if(div_start==true && children == 2 )
                      ev.target.appendChild(document.getElementById(data));
                  // }
                  //Put an if condition over here
                  if ($allow_drag)
                    document.getElementById(ev.target.id).setAttribute("ondrop", "return false;")
                  else {
                    $allow_drag = true;
                    document.getElementById(ev.target.id).setAttribute("ondrop", "return true;")
                  }
                function total_score() {

                }
              }
            </script>
        {% endblock %}

        {% block body %}

            <div class="row container-fluid">
                <div class="col-sm-5 col-md-5 col-lg-5" style=".block-center; height: 100vh">
                    <h2>Shapes</h2>
                    <div id="div_tri" ondrop="drop(event)" ondragover="allowDrop(event)" style=" margin-top: 5vh">
                        <img src="{% static 'images/triangle.png' %}" draggable="true" ondragstart="drag(event)" id="tri_drag" width="100" height="100">
                    </div>
                    <div id="div_squ" ondrop="drop(event)" ondragover="allowDrop(event)" style=" margin-top: 5vh">
                        <img src="{% static 'images/square.png' %}" draggable="true" ondragstart="drag(event)" id="squ_drag" width="100" height="100">
                    </div>
                    <div id="div_circ" ondrop="drop(event)" ondragover="allowDrop(event)" style=" margin-top: 5vh">
                        <img src="{% static 'images/circle.png' %}" draggable="true" ondragstart="drag(event)" id="cir_drag" width="100" height="100">
                    </div>
                    <div id="div_dia" ondrop="drop(event)" ondragover="allowDrop(event)" style=" margin-top: 5vh">
                        <img src="{% static 'images/diamond.png' %}" draggable="true" ondragstart="drag(event)" id="dia_drag" width="100" height="100">
                    </div>
                </div>

                <div class="col-sm-5 col-md-5 col-lg-5">
                    <h2>Names</h2>
                    <div id="drop_tri" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                    <p>Triangle</p>
                    <div id="drop_dia" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                    <p>Diamond</p>
                    <div id="drop_squ" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                    <p>Square</p>
                    <div id="drop_cir" ondrop="drop(event)" ondragover="allowDrop(event)">
                    </div>
                <p>Circle</p>
                </div>

                <form class="form-group" action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
{#                    This is making the website really hackable? I mean, scores, hackable. #}
                    <input type="hidden" text="" name="resultstatus" value="" id="resultstatus">
                    <div class="col-sm-1 col-md-1 col-lg-1" style=".block-center; height: 100vh">
                        <input type="submit" value="Submit" onclick="submit_shapegame_answer();" style=" margin-top: 50vh">
                    </div>
                </form>

            </div>

            <script>
                function submit_shapegame_answer(event){
                    try{
                        var ans1 = document.getElementById('drop_tri').children[0].id === 'tri_drag';
                        var ans2 = document.getElementById('drop_dia').children[0].id === 'dia_drag';
                        var ans3 = document.getElementById('drop_squ').children[0].id === 'squ_drag';
                        var ans4 = document.getElementById('drop_cir').children[0].id === 'cir_drag';

                        var x = Array(ans1, ans2, ans3, ans4);
                        var maxscore = x.length;
                        var score = 0;
                        x.forEach(
                            function(entry) {
                                if (entry == 1){
                                    score += 1;
                                }
                            }
                        );
                        var msg = score.toString() + "/" + maxscore.toString();
                        document.getElementById('resultstatus').value = msg;
                        $.post("{% url 'web:shapegame' %}",{
                            marks: msg
                        },function (data, status) {
                            alert(data);
                            window.location = {% url 'web:home' %};
                        });

                    } catch (err) {
                        if (err.message === "Cannot read property 'id' of undefined"){
                            window.alert("Answer all questions");
                        }else {
                            window.alert("Some error has occurred.");
                            window.location = "{% url 'web:shapegame' %}";
                        }
                    }
                }
            </script>
        {% endblock %}
