{% extends 'web/base_student.html' %}
    {% load bootstrap4 %}
		{% block title %}Testgame{% endblock %}
{#		{% block courseactive %}active{% endblock %}#}
		{% block body %}
		<div class="container-fluid" style="margin-top: 1em">
		    <form class="form-group" action="{% url 'web:testgame' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
				<table class="table" border="solid 2px">
					<tr>
						<th> Points</th>
						<th> Numbers </th>
					</tr>

					<tr>
						<td id="q1" style="font-size: xx-large"> .</td>
						<td>
							<input placeholder="Enter Answer" type="number" name="a1" id="ans1">
						</td>
					</tr>

					<tr>
						<td id="q2" style="font-size: xx-large"> .</td>
						<td>
							<input placeholder="Enter Answer" type="number" name="a2" id="ans2">
						</td>
					</tr>

					<tr>
						<td id="q3" style="font-size: xx-large"> .</td>
						<td>
							<input placeholder="Enter Answer" type="number" name="a3" id="ans3">
						</td>
					</tr>

					<tr>
						<td id="q4" style="font-size: xx-large"> .</td>
						<td>
							<input placeholder="Enter Answer" type="number" name="a4" id="ans4">
						</td>
					</tr>

					<tr>
						<td id="q5" style="font-size: xx-large"> .</td>
						<td>
							<input placeholder="Enter Answer" type="number" name="a5" id="ans5">
						</td>
					</tr>

				</table>
				<input type="text" name="solution" id="solution" value="" hidden="true">
                <input type="text" name="user" id="user" value="{{ user.id }}" hidden="true">
				<input type="submit" value="Submit" style="margin-top: 0.5em">
			</form>

            <script>
                $(document).ready(function random_points_generate(){
                    var num_qs = 5;
                    var points = Array(num_qs);
                    var x = 0;
                    var arrayindex = 0;
                    while (arrayindex < 5) {
                        x = Math.floor(Math.random() * 10);
                        if (x != 0 && points.indexOf(x) == -1){
                            points[arrayindex] = x;
                            arrayindex += 1;
                        }
                    }
                    set_points(points);
                });
                // random_points_generate();
                function set_points(x) {
                    var q = 'q';
                    var sol = '';
                    for (var i = 0; i < x.length; i++) {
                        console.log(q+i);
                        console.log(getDots(x[i]));
                        console.log(q+i);
                        document.getElementById(q+(i+1)).innerHTML = getDots(x[i]);
                        sol = sol + x[i].toString();
                    }
                    document.getElementById('solution').setAttribute("value", sol);
                }
                function getDots(j) {
                    var ans = '';
                    for (var i = 0; i < j; i++) {
                        ans += '.';
                    }
                    return ans;
                }
			</script>
		</div>
		{% endblock%}